.create-event form {
    padding: 3rem 0;
    margin: 0 auto;
    width: 60%;
    height: 65%;
}

.create-event{
    font-size: 1.5rem;
    text-align: left;
}
.create-event h1{
    text-align: center;
}

.create-event input{
    width: 80%;
    border-radius: 25px;
    padding: 0.5rem;
    margin: 1rem 0;
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
}

.flex-form{
    display: flex;
    justify-content: space-evenly; 
}

.flex-col{
    width: 30%;
}

.error-message{
    color: rgb(235, 30, 30);
    font-weight: bold;
}

.description{
    border-radius: 10px;
    width : 80%;
    height : 16%;
    padding: 0.3rem;
    font-family: 'Comfortaa', sans-serif;
    
    font-size: 1.2rem;
    margin: 1rem 0;
}

.flex-col select{
    margin: 1rem 0;
    padding: 0.6rem 2rem;
    border-radius: 20px;
    font-size: 1.2rem;
    font-family: 'Comfortaa', sans-serif;
}

.flex-col label{
    margin: 2rem 0;
}

.submit-btn{
    border-radius: 20px;
    font-size: 1.2rem;
    padding: 0.6rem 2rem;
    background: #fff;
    font-family: 'Comfortaa', sans-serif;
}

.btn-div{
    display: flex;
    justify-content: center;
    width: 100%;
}