.event-details{
    z-index: -1;
    background-image: url(../images/tricks.jpeg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}

.event-details-container {
    display: block;
    margin: 0;
    justify-content: space-evenly;
    width: 100vw;
    min-height: 92vh;
    color: white;
}

.event-details-content {
    display: flex;
    margin: 3vh 3vw;
    justify-content: space-evenly;
    width: 70vw;
    background-color: transparent !important;
    position: relative
}

.event-background{
    height: 100%;
    width: 100vw;
    height: auto;
    top: 6vh;
    left: 0;
    opacity: 0.5;
    z-index: -1;
    overflow: clip;
    object-fit: cover;
}



.events-details-content h1 {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 0;
    padding: 1rem;
}

.desc-header{
    text-align: start;
    margin: 0 5%;
    background: none;
}

.event-details-left .description {
    text-align: start;
    font-size: 1.3rem;
    font-weight: 400;
    max-width: 90%;
    margin: 0 5% 5% 5% ;
}

.event-dogs {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
    justify-content: left;
    align-items: center;
    border-bottom: solid 1px;
}

.event-details-right {
   max-width: 25vw;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    padding: 3rem;
    border-left: #041C32 1px solid;
    left: 75vw;
    position: absolute;
    top: 32vh;
}


.event-details-attending {
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    width: 95%;
    height: 28vh;
    text-align: left;
    padding: 1% 0 5% 5%;
    flex-direction: column;
    text-align: start;
}

.event-details-attending h4 {
    padding: 0;
    margin-left: 1rem;
    font-size: 1rem;
}

.event-details-left {
    width: 75vw;
    padding-bottom: 4vh; 
}

.event-dog img {
    width: auto;
    height: 4vh;
    aspect-ratio: 4/3.5;
    object-fit: cover;
    border-radius: 25px;
}

.event-dog {
    display: flex;
    max-width: 100%;
    flex-direction: column;
}



.dog-info {
    display: flex;
    padding: 0rem 0.8rem;
    align-items: center;
}


.attend-btn {
    text-decoration: none;
}

.attend-btn button {
    padding: 0.6rem 4rem;
    border: solid 1px;
    border-radius: 25px;
    background-color: #041C32;
    color: white;
    font-family: 'Comfortaa';
    font-size: 1rem;
}

.attend-btn button:hover {
    padding: 0.6rem 4rem;
    border: solid 1px;
    border-radius: 25px;
    background-color: white;
    color: #041C32;
    font-family: 'Comfortaa';
    font-size: 1rem;
}

.dog-name {
    padding: 0rem 0.5rem;
}

.dog-info p {
    font-size: 1.2rem;
}

.attending-content{
    overflow: scroll;
height: 100%;
}