.events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-element {
    display: block;
    max-height: 50vh;
    width: 28vw;
    margin: 3% 2%;
    position: relative;
    text-align: center;
}

.events-page h1 {
    font-size: max(10vh, 2.5rem);
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #041C32;
}

.events-page img {
    position: relative;
    display: block;
    height: 50vh;
    width: 28vw;
    object-fit: cover;
    opacity: 0.8;
}

.event-element h2 {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 5vh;
    width: 28vw;
    font-size: 2.5rem;
    font-weight: 200;
    color: white;
text-align: center;
}

.event-element p {
    position: relative;
    bottom: 70%;
}

.event-element .nav-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    background-color: #041C32;
    border-radius: 25px;
   
    width: 20vw;
}

.event-element .nav-link:hover {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #041C32;
    font-size: 1.4rem;
    padding: 0.5rem 2rem;
    background-color: white;
    border-radius: 25px;
}

.events-element:hover img {
    position: relative;
    display: block;
    height: 52vh;
    width: 30vw;
    object-fit: cover;
    opacity: 0.8;
    background-color: black;
}

.event-element:hover {
    display: block;
    background-color: black;
}

.event-element:hover p {
    position: relative;
    bottom: 70%;
    font-weight: 600;
}

.attendees {
    margin: 0.5rem 1rem 0rem 1rem;
    border-top: solid black 0.5px;
}