.feed-details {
    background-color: rgba(168, 105, 105, 0.073);
    padding: 3vh 3vw;
    margin: 0;
}

.feed-details h2{
    margin: 0;
}

.feed-content {
    padding: 2rem 2rem 2rem 0;
}

.feed-details-columns {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    min-height: 80vh;
}



.feed-details-left {
    width: 70vw;
    text-align: left;
}

.feed-details img {
    width: 90vw;
    height: 35vh;
    object-fit: cover;
}

.feed-details-left h1 {
    font-size: 2.5rem;
}

.post-details {
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 0;
}

.feed-details-right {
    width: 20vw;
    position: absolute;
    left: 75%;
    top: 60%;
    font-weight: 400;
    border-left: #041C32 1px solid;
    padding: 2vw;
}

.feed-details-right p{
   margin: 2vh 0vw !important;
   text-align: left;
}

.feed-image {
    display: flex;
    justify-content: center;
}

.feed-details-btn{
    border: solid 1px black;
    border-radius: 25px;
    padding: 0.5rem;
    width: 100%;
    text-decoration: none;
    margin: 0;
    font-size: 1rem !important;
    z-index: 5;
    align-self: center !important;
    background-color: #041C32;
    color: white;
}

.feed-details-right h4{
    margin-bottom: 2vh;
    padding: 0;
}

.feed-details-right a{
    text-decoration: none !important;
    color: white;
}