.feed-details{
    background-color: lightgrey;
    padding: 3rem;
    margin: 2rem 1rem ;
}

.feed-content{
    padding: 2rem;
}

.feed-details-columns{
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.feed-details-left, .feed-details-right{
    width: 45%;
    border: solid red 1px;
}

.feed-details img{
    width: 95%;
}

.feed-details-left{
    text-align: left;
}

.post-details{
    width: 20%;
    justify-content: space-evenly;
    display: flex;
    margin: 0 auto;
}