video {
    width: 100%;
    height: 85vh;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0.85;
    margin: none;
}

.homepage h1 {
    position: absolute;
    left: 50vw;
    top: 12vh;
    transform: translate(-50%, -50%);
    font-size: 5.5rem;
    font-weight: 300;
    color: #041C32;
    width: 100%;
}

#book-class-btn {
    position: absolute;
    left: 50vw;
    top: 45vh;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    border: #041C32 solid 3px;
    border-radius: 20px;
    padding: 0.8rem 2rem;
}

#book-class-btn:hover {
    background-color: #041C32;
    color: white;
    padding: 1rem 2.5rem;
}