.LoginPage{
    height: 90vh;
}

.login-form{
    margin: 0;
}


.login-form input {
    border-radius: 25px;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem 0rem;
    font-size: 3vh;
    font-family: 'Comfortaa', sans-serif;
}

.login-form {
    text-align: left;
    margin-top: 3rem;
}


.input-login {
    margin: 0 auto;
    width: 20%;
    text-align: center;
}

.input-login label {
    font-size: max(4vh, 1.5rem);
}

.btn-div {
    display: flex;
    justify-content: center;
}

#signUp {
    font-size: 1.2rem;
    margin-top: 4rem;
}

/* .sign-up-page a{
    font-size: 0.2rem !important;
} */