.profile-page{
    display: flex;
    margin: 5% auto;
    width: 80%;
}


body {
    color: white
}

.profile-page-left, .profile-page-right{
    width: 50%;
}

.profile-page-left img{
    max-height: 60vh;
}

.profile-page-left{
    text-align: left;
}

.profile-page form{
    padding: 1rem;
    color: white;
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.profile-page input{
    padding: 0.4rem;
    border-radius: 25px;
} 

.dog{
    justify-content: space-around;
    display: flex;
    margin: 2% auto;
    width: 45%;
    background: red;
    border-radius: 25px;
}

.dog img{
    border-radius: 25px;
    object-fit: cover;
    max-width: 40%;
    margin: 2%
}

.dog-text{
    color: white;
    width: 40%;
    font-size: 1.2rem; 
}

.dogs{
    display: flex;
    flex-wrap: wrap;

}