.profile-page {
    display: flex;
    margin: 5% auto;
    width: 80%;
    color: white
}

.profile-page-left {
    width: 30%;
}

.dog-form{
    display: flex;
}

.profile-page-right {
    width: 70%;
    margin-left: 5rem;
}

.profile-page-left img {
    max-height: 30vh;
    aspect-ratio: 1;
}
/* body {
    color: white
} */

.dog img,
.dog p,
.dog a {
    margin-left: 2rem;
}

.profile-page h3 {
    font-size: 2.5rem;
}

.profile-page p,
a,
h4 {
    font-size: 1.5rem;
}

.profile-page-left, .profile-page-right {
    text-align: left;
}

.profile-page .event a {
    text-decoration: none;
}

.profile-page .event a:hover {
    text-decoration: underline;
}

.profile-page form {
    padding: 1rem;
    border-radius: 25px;
    width: 80%;
    margin: 0;
    text-align: left;
}

.profile-page label{
    margin:  0 1rem;
}
.profile-page input {
    border-radius: 25px;
    padding: 0.5rem;
    margin: 1rem 1rem 1rem 0; 
    font-size: 1.2rem;
    font-family: 'Comfortaa', sans-serif;
}

.dog {
    justify-content: space-around;
    display: flex;
    margin: 2% 0;
    align-items: center;
    width: 70%;
    border-radius: 25px;
    font-size: 1.2rem;
}



.dog img {
    border-radius: 15px;
    object-fit: cover;
    width: 15%;
    aspect-ratio: 1;
    margin: 2%
}

.dog-text {
    width: 40%;
    font-size: 1.2rem;
}

.dogs {


}