.footer{
    display: flex;
    justify-content: center;
    background-color: #041C32;
    max-height: 3vh;
}

.footer p{
    padding: 0rem 0.8rem !important;
    margin: 0 !important;
    font-size: 0.8rem;
   font-weight: 300;
    color: white;
    max-height: 3vh;
    text-decoration: none !important;
}

