.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #041C32;
    height: 8vh;
    margin: auto;
}

.footer a {
    margin: 0 !important;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 1rem;
    color: white;
    text-decoration: none !important;
}

.footer a:hover {
    text-decoration: underline;
}