.navbar-left{
    width: 50%;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.navbar-right{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    min-width: 10%
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #041C32;
    padding: 0.5rem;
    color: white;
    max-height: 5vh;
}

.profile-div{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.profile-div img, .profile-menu {
    width: 15%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 20px 10px;
}


.navbar-right button {
    color: white;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.1rem;
    padding: 0.5rem;
    max-height: 5vh;
}


