
.App {
  text-align: center;
  min-height: 100%;
  background-color: rgba(168, 105, 105, 0.073);
  color: #041C32 !important;
  /* color: white !important; */
  /* background-image:linear-gradient(135deg, #a57a3f 40%, #B68D55 140%); */
  font-family: 'Comfortaa', sans-serif;
}

 .react-simple-scheduler{
  margin: 0rem 10rem;
  background-color: rgb(229, 228, 228) !important;
  font-family: 'Comfortaa' !important;
}
.react-simple-scheduler .head{
  margin: 0rem 10rem;
  background-color: rgb(229, 228, 228) !important;
  font-size: 1rem !important;
  color: #041C32;
}

.react-simple-scheduler .head h1{
  font-weight: 900 !important;
}

.react-simple-scheduler .body .schedule td.time{
  background-color: rgb(255, 255, 255) !important;
}

.react-simple-scheduler .body .schedule td{
  background-color: rgb(255, 255, 255) !important;
}
.react-simple-scheduler .body .schedule {
  background-color: rgb(255, 255, 255) !important;
  border: black solid 1px;
} 

.react-simple-scheduler .body .event{
  background-color: #041C32 !important;
  color: rgb(229, 228, 228) !important;
}

.event{
  margin: 0rem 0.3rem !important;
}

.routes-navbar-container{
  min-height: 91vh
}


.react-simple-scheduler .body .schedule th{
  color: black;
}

.react-simple-scheduler .head button.today{
  padding: 0.2rem;
  border: #041C32 solid 2px !important;
  font-weight: 400;
  align-items: center;
  height: auto !important;
}

